{{ define "content" }}
<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <h2>Detail Categories</h2>
            <hr>

            <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input type="text" class="form-control" name="name" placeholder="Input Name Product" readonly
                    value="{{ .product.Name }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" name="category" placeholder="Input Category" readonly
                    value="{{ .product.Category.Name }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" name="stock" placeholder="Input Stock" readonly
                    value="{{ .product.Stock }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" name="description" rows="3" readonly>{{ .product.Description }}</textarea>
            </div>
            <div class="float-end">
                <a href="/products" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</div>
{{ end }}